@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --color1: #FFFFFF;
    --color2: #A5FFD6;
    --color3: #84DCC6;
    --color4: #1F2041;
    --color5: #1E0227;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

li {
    list-style: none;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header-img {
    flex: 10;
    margin-left: 70px;
}

header img {
    width: 55px;
    height: 55px;
    border-radius: 50px;
}

header nav {
    display: flex;
    flex: 3;
    justify-content: space-between;
    margin-right: 70px;
}

nav a {
    color: var(--color5);
    padding: 10px;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
}

nav a:hover {
    background-color: var(--color2);
    border-radius: 10px;
    text-decoration: none;
}

nav a:active {
    text-decoration: none;
}

main {
    margin-left: 50px;
    margin-right: 50px;
    color: var(--color5);
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hero div {
    width: 650px;
    min-height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero .text {
    padding: 10px;
}

.hero img {
    width: 650px;
    object-fit: cover;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.find-button {
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color1);
}

.find-button svg {
    fill: var(--color1);
}

.tours-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tours-team article {
    min-width: 200px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -6px inset, rgba(0, 0, 0, 0.3) 0px 9px 18px -9px inset;
    max-width: 300px;
}

.tours-team div {
    padding: 10px;
}

.tours-team img {
    width: 100%;
    min-width: 200px;
    border-radius: 10px 10px 0px 0px;
}

.tours-team .team {
    min-width: 280px;
    border: 1px solid lightgray;
    box-shadow: none;
}

.tours-team .team-img {
    width: 150px;
    min-width: 120px;
    border-radius: 50%;margin-top: 20px;
}

@media only screen and (max-width: 860px) {

    .tours-team {
        justify-content: center;
    }

    .tours-team article {
        margin: 5px;
    }
}

@media only screen and (max-width: 600px) {

    .header-img {
        margin-left: 10px;
    }
    
    header nav {
        margin-right: 10px;
    }

    .hero div {
        margin: 5px;
    }

    .hero img {
        max-width: 97%;
    }

    .tours-team article {
        margin: 5px;
    }

    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}